header {
    text-align: center;
}

#tableau {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#tableau th {
    background-color: #4ca3af;
    color: white;
    padding: 10px;
    text-align: left;
}


#tableau tr:nth-child(even) {
    background-color: rgb(221, 221, 221);
}

#tableau tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}


#tableau td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


#tableau td:first-child {
    font-weight: bold;
    text-align: left;
}


#tableau img {
    width: 40px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}