html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
}

#status {
    padding: 10px;
    background: #ddd;
    font-weight: bold;
    text-align: center;
}

#player-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.player-btn {
    flex: 1;
    font-size: 32px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    cursor: pointer;
}

.red {
    background-color: #e74c3c;
}

.blue {
    background-color: #3498db;
}

.top-bar {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-btn {
    padding: 12px 20px;
    font-size: 18px;
    margin: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding-bottom: 10px;
}